[Unit]
Description=CovidBot GraphQL Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=sid
WorkingDirectory=CovidBot/backend
ExecStart=python3 -m pipenv run python CovidBot/backend/startserver.py

[Install]
WantedBy=multi-user.target
